.Rproj.user
.Rhistory
.RData
.Ruserdata

# R/RStudio user files/folders to be ignored
R2-scripts.Rproj


#VScode
.vscode


# Python user files/folders to be ignored
*.pyc
**/.ipynb_checkpoints
**/__pycache__


# Matlab user files/folders to be ignored
